div {
    outline: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}

img,
svg {
    -webkit-user-select: none;
    user-select: none;
}