.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.appear-enter-active,
.appear-leave-active {
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.appear-enter,
.appear-leave-active {
    opacity: 0;
    transform: translateY(64px);
}
